/* Type
*/

@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: local('Raleway Heavy'), url('../fonts/Raleway/Raleway-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: local('Raleway SemiBold'), url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: local('Raleway Bold'), url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@import "../fonts/foundation-icons/foundation-icons.css";
@import "foundation/settings";
@import "foundation";

/* Colours
*/

$orange: #f34f2c;
$light-gray: #ccc;

/* Mixins
*/

@mixin transition($transitions...) {
   -webkit-transition: $transitions;
      -moz-transition: $transitions;
       -ms-transition: $transitions;
           transition: $transitions;
}

/* Layout
*/

#header {
    & > div *:last-child {
        padding-bottom: 1rem;
        margin-bottom: 0;
        background: transparent url('../images/slashbg.png') repeat-x 0 bottom;
        }
}

#main {
    .row {
        padding: 1rem 0 0;
        }
    
    .question-card {    
        .quiz-progress { margin-bottom: 0; }
        
        .question-explanation {
          margin-bottom: 0.5rem;
          strong { font-weight: 900; }
          }
            
        ul#answers {
                margin-left: 0;
                list-style-type: none;
                
                .split.button {
                  width: 100%;
                  margin-bottom: 1px;
                  span {
                    border: 0;
                    &:before {
                      border: 0;
                      content: "⚪";
                      display: inline-block;
                      font-family: 'Raleway';
                      font-size: 1.5rem;
                      line-height: 1.85;
                      margin-left: 1rem;
                      font-style: normal;
                      font-variant: normal;
                      font-weight: 600;
                      text-decoration: inherit;
                      text-transform: none;
                      }
                    }
                  &:hover {
                      background-color: #ccc;
                    span {
                      color: #f34f2c;
                      @include transition(color .25s ease-out);
                      }
                    }

                  &.left-icon {
                    text-align: left;
                    padding-left: 3rem;
                    padding-right: 2rem;
                    span { left: 0; }
                    }
                  }
                
                
              li.selected .split.button span {
                color: #E0582B;
                @include transition(color 2s ease-out);
                &:before {
                  content: "⚫";
                  }
                }
            }
            
        p.pagination a {
            color: #999;
            font-size: 1em;
            font-weight: normal;
            padding: 0.625rem 0;
            @include transition(color .5s ease-out);
            
            &:hover { color: #333; }
            
            }
        }
    
}

#footer {
  p {
    i { 
        font-size: 1rem;
        margin-right: 0.5rem;
        }
    }
}




