/* Type
*/

@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: local('Raleway Heavy'), url('../fonts/Raleway/Raleway-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: local('Raleway SemiBold'), url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: local('Raleway Bold'), url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@import "../fonts/foundation-icons/foundation-icons.css";
@import "foundation/settings";
@import "foundation";

/* Colours
*/

$orange: #f34f2c;
$light-gray: #ccc;

/* Mixins
*/

@mixin transition($transitions...) {
   -webkit-transition: $transitions;
      -moz-transition: $transitions;
       -ms-transition: $transitions;
           transition: $transitions;
}

/* Layout
*/

#header {
    div {
      padding-top: 1rem;
      h2 {
        height: 120px;
        margin: 0;
        img { height: 100%; width: auto; }
        }
      }
}

#main {
    .row {
      padding: 1rem 0 0;
      }
    
    #question-card {    
      #quiz-progress {
        color: #999;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        span { }
        }
      
      h3 {
        font-size: 1.375rem;
        line-height: 1.2;
        margin: 0;
        }
      
      #question-explanation {
        margin-bottom: 1rem;
        strong { color: $primary-color; }
        }
          
      ul#answers {
        margin-left: 0;
        list-style-type: none;
        min-height: 15rem;
        
        li {
          font-size: 1rem;
          line-height: 1.5;
        
          .button {
            width: 100%;
            margin-bottom: 1px;
            &:hover {
              background-color: #ccc;
              span {
                color: #f34f2c;
                @include transition(color .25s ease-out);
                }
              }
            }
            
          &.selected .button span {
            color: $primary-color;
            @include transition(color 2s ease-out);
            }
            
          }
        }
        
      #result-image {
        margin-bottom: 1rem;
        }
          
      p.pagination a {
        color: #999;
        font-size: 1rem;
        font-weight: normal;
        padding: 0.625rem 0;
        @include transition(color .5s ease-out);
        
        &:hover { color: #333; }
        
        }
      }
      
      .gauge-loader:not(:required) {
        background: $primary-color 
        !important;
        }
        
      .share {
        margin-bottom: 0;
        strong {
          font-size: 0.875rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #999;
          display:  block;
          margin-bottom: 0.5rem;
          }
        .button {
            font-weight: 700;
            &.twitter-share-button { margin-right: 0.5rem; }
            }
        i {
          font-size: 1.15rem;
          line-height: 1;
          margin-right: 0.25rem;
          }
        }
}


#footer {
  div {
    margin-top: 1rem;
    padding-bottom: 1rem;
    h5 {
      padding-top: 1rem;
      background: transparent url('../images/slashbg.png') repeat-x 0 top;
      }
    p {
      line-height: 1.4;
      margin-bottom: 0.5rem;
      i { 
          font-size: 1rem;
          margin-right: 0.5rem;
          }
      }
    }
}




