<p id="quiz-progress">Fråga <span id="question-current">1</span> av <span id="question-total">18</span></p>
<div id="question-explanation"></div>
<p class="question-intro">Välj det alternativ som passar bäst.</p>
<ul id="answers"></ul>

<div id="button-container" class="row collapse">
  <p class="share medium-8 small-12 columns small-uncentered">
    <strong>Dela på:</strong>
    <a target="_blank" class="twitter-share-button button small" href=""><i class="fi-social-twitter"></i> Twitter</a>
    <a target="_blank" class="fb-share-button button small" href=""><i class="fi-social-facebook"></i> Facebook</a>
  </p>
  <p class="restart medium-4 small-12 columns small-uncentered">
    <a id="startover-button" class="button secondary small" href="#"><i class="fi-refresh"></i> Börja om</a>
  </p>
</div>
