<p id="quiz-progress">Fråga <span id="question-current">1</span> av <span id="question-total">18</span></p>
<div id="question-explanation">&nbsp;</div>
<ul id="answers"></ul>

<p class="pagination">
  <a id="results-button" href="#">See results (debug) →</a>
</p>     

<div id="button-container" class="row collapse">
  <p class="share small-8 columns small-uncentered">
    <strong>Share this quiz</strong>
    <a target="_blank" class="twitter-share-button button small" href=""><i class="fi-social-twitter"></i> Twitter</a>
    <a target="_blank" class="fb-share-button button small" href=""><i class="fi-social-facebook"></i> Facebook</a>
  </p>
  <p class="small-4 columns small-uncentered">
    <a id="startover-button" class="button secondary small" href="#"><i class="fi-refresh"></i> Start over</a>
  </p>
</div>
